<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<header>
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <div class="navbar-nav ml-auto">
                    <a class="navbar-item nav-link" href="#">All</a>
                    <a class="navbar-item nav-link" href="#">Mens</a>
                    <a class="navbar-item nav-link" href="#">Womens</a>
                    <a class="navbar-item nav-link" href="#">Accessories</a>
                    <a class="navbar-item nav-link" href="#">Encouragement</a>
                    <a class="navbar-item nav-link" href="#">About Us</a>
                </div>
            </div>
        </div>
        </nav>
    </header>
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-md black-col">
            <div class="row align-items-center justify-content-center header">
                <h1 class="header-title">
                    HAUS<br>
                    <span class="thin-line">OF</span><br>
                    BARZ
                </h1>
            </div> 
        </div>
        
        <div class="col-md white-col">
            <h1 class="first-line">UNLEAS<span class="highlight-word">H</span></h1>
            <h1 class="second-line">FR<span class="highlight-word">O</span>M</h1>
            <h1 class="third-line"><span class="highlight-word">B</span>ENEATH</h1>
        </div>
    </div>
    <div class="img"><%= image_tag 'splash.png', height: 400 %></div>
</div>
